html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: Chiron GoRound TC;
  background-color: #f9b180;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 30px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

h2, h3, h4 {
  text-align: center;
  margin: 0;
  padding: 5px 0;
  color: #00539f;
}

img {
  display: block;
  margin: 0 auto;
  width: 150px;
  max-width: 100%;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0px;
}

a {
  display: block;
  color: #00539f;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}

button {
  display: block;
  margin: 0 auto;
  width: 150px;
  max-width: 100%;
}